body{
    background-color: #eaf6f6;
}

h1, th{
    color:#005792;
}

h3{
    color: #53cde2;
}

img{
    border-radius: 50%;
}

a, a:visited{
    color:#005792;
}

hr {
    border-style: dotted none none;
    border-width: thick;
    border-color: lightgrey;
    background-color:white;
    width: 5%;
}